@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}


/* Page defaults */

.page {
  padding-top: 8rem;
}

.layout-container {
  /* overflow-x: hidden; */
  width: 100%;
}

header {
  height: 100vh;
  margin-bottom: 4rem;
  /* font-family: 'Lato', sans-serif; */
  width: 100%;
}

nav {
  /* color: #fff; */
  align-items: center; 
  background-color: #fff;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  z-index: 10000;
  background: #fff;
}

nav ul {
  align-items: center;
  display: flex;
  padding: 0.5rem 0;
  justify-content: center;
}

.nav-logo {
  margin: 0 1rem;
  max-width: 240px;
}

.nav-item {
  /* font-family: 'Lato', sans-serif; */
  font-size: 0.75rem;
  font-weight: 500;
  margin-right: 1.5rem;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.1em;
}

.navbar-responsive {
  display: flex;
  flex-direction: column;
}

.navbar-responsive .nav-item {
  display: block;
  margin-bottom: 0.5rem;
}

.navbar-responsive .nav-logo-container {
  order: 1;
}

.responsive-nav-btn {
  cursor: pointer;
  display: none;
  font-size: 2rem;
}

.landing-hero {
  /* background: url('/images/bg-img-7.jpeg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  height: 100%;
  position: relative;
  width: 100%;
}

.hero-video {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

.hero-content {
  align-items: flex-end;
  display: flex;
  color: #fff;
  height: 100%;
  padding: 0 9rem;
  padding-bottom: 10rem;
  z-index: 9999999;
  width: 100%;
}

.hero-content-heading {
  font-size: 3rem;
  font-weight: 400;
}

.callout-quote-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: center;
  text-align: center;
  padding: 0 3rem;
  width: 100%;
}

.callout-quote {
  color: #aeaeae;
  font-size: 2rem;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.callout-quote-desc {
  color: #093542;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rounded-btn-cta {
  border: 1px solid #000;
  border-radius: 10rem;
  color: #fff;
  display: inline-block;
  font-size: .8rem;
  /* font-family: 'Lato', sans-serif; */
  padding: .5rem .3rem;
  text-align: center;
  margin: 2rem 0;
  background-color: #093542;
  width: 8rem;
}



/* Featured project component */

.featured-project {
  padding: 3rem 5rem;
  text-align: center;
  width: 100%;
}

.featured-project-heading {
  text-align: center;
}

.featured-project-tag {
  color: #adadad;
  display: inline-block;
  /* font-family: 'Lato', sans-serif; */
  font-size: 0.7rem;
  letter-spacing: 0.1em;
  /* margin-bottom: 0.5rem; */
  text-transform: uppercase;
}

.featured-project-title {
  /* font-family: 'Lato', sans-serif; */
  font-size: 2rem;
  font-weight: 300;
}

.featured-project-img-container {
  height: 20rem;
  margin: 2rem 0;
  
}

.featured-project-img {
  /* background-color: #000; */
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.featured-project-info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
}

.featured-project-info {

  text-align: left;
}

.featured-project-info h3 {
  margin-bottom: 0.5rem;
}

.featured-project-info p {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

.featured-project-read-more {
  border: 1px solid #000;
  border-radius: 10rem;
  display: inline-block;
  font-size: .8rem;
  padding: .5rem .3rem;
  text-align: center;
  margin: 2rem 0;
  width: 8rem;
}

/* What We Do */



.what-we-do__header {
  align-items: flex-end;
  display: flex;
  color: #fff;
  background: url('/images/pei-bg-img-3.jpeg') center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  justify-content: flex-start;
  padding: 3rem;
  margin: 0;
  width: 100%;
}

.what-we-do__header h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.what-we-do__services {
  padding: 1rem 5rem;
}

.what-we-do__services h2 {
  font-size: 3rem;
  font-weight: 300;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: max-content;
  margin-top: 3rem;
}

.services__grid-item {
  cursor: pointer;
  border: 1px solid #093542;
  display: flex;
  /* border-top: none;
  border-right: none; */
  justify-content: center;
    align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
}

.services__grid-item:hover {
  background-color: #093542;
  color: #b7e798;
}

/* Experience */

.landing-section-callout {
  align-items: flex-start;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* padding: 3rem; */
}

.landing-section-callout-container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* .landing-section-callout-meta {


  height: 100%;
  text-align: left;
  width: 70%;
} */

.landing-section-meta {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.landing-section-meta-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5rem;
  text-align: center;
}

.landing-section-callout-meta h3 {
  /* font-family: 'Bitter', serif; */
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0.5rem 0;
}

.landing-section-callout-meta p {
  /* font-family: 'Bitter', sans-serif; */
  color: #aeaeae;
  font-size: 0.9rem;
  line-height: 1.4;
}

.landing-section-callout-main-content {
  /* padding: 2rem; */
  height: 100%;
  width: 50%;
}

.landing-section-callout-description {
  color: #aeaeae;
  font-size: .9rem;
  line-height: 2rem;

}

.landing-section-callout-years {
  margin-bottom: 1rem;
}

.landing-section-callout-image {
  width: 50%;
  height: 100%;
}

.landing-section-callout-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.landing-stand-out {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  width: 100%;
}

.landing-stand-out-container {
  width: 90%;
}

.landing-stand-out__heading {
  font-size: 2rem;
  font-weight: 300;
}

.landing-stand-out__content {
  width: 100%;
  text-align: left;
}

.landing-stand-out__content-col {
  max-width: 50%;
}

.landing-stand-out__content-item {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 999999999999999999999999999999999999999999999999;
  background-color: #fff;
  
}

.landing-stand-out__content-item-title {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.landing-stand-out__content-item-title h3 {
  
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
}


.landing-stand-out__content p {
  color: #aeaeae;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
}

.landing-stand-out__bg-img {
  align-items: center;
  display: flex;
  background: url('/images/pei-bg.jpeg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 25rem;
  justify-content: center;
  margin: 3rem 0;
  width: 100%;
}

.landing-section-qualifications {
  /* align-items: center; */
  background-color: #093542;
  color: #fff;
  /* height: 30rem; */
  margin: 5rem 0;
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}

.landing-section-qualifications__heading {
  width: 70%;
  margin: 0 auto;
}

.landing-section-qualifications h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2.3rem;
}

.landing-section-qualifications__heading p {
  font-weight: 300;
  font-size: 0.9rem;
}

.landing-section-qualifications__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem auto;
  width: 80%;
}

.landing-section-qualifications__qualification h2 {
  font-size: 1.5rem; 
  font-weight: 300;
}

.landing-section-qualifications__qualification li {
  font-size: 0.9rem;
  margin: 1rem 0;
}

/* What We Do */

.what-we-do__about {

}

.what-we-do__about h2 {
  color: #a8a8a8;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  
}

.what-we-do__about h3 {
  color: #a8a8a8;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}


.what-we-do__about p {
  font-size: 1rem;
  line-height: 1.4;
}


/* Bio Page */

/* .project-page__meta-value:not(:last-child)::after { content: ',' } */



.bio-page {
  margin-top: 5rem;
}

.bio-page__projects-container {
  padding: 0 5rem;
  width: 100%;
}

.bio-page__projects-heading {

  color: #a8a8a8;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.bio-page__about-heading {
  color: #a8a8a8;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.bio-page__projects-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
}

.bio-page__project {
  text-align: center;
}

.bio-page__project-img {
  margin-bottom: 1rem;
}

.bio-page__callout {
  align-items: center;
  background-color: #093542;
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  font-weight: 300;
  /* height: 15rem; */
  padding: 3rem 5rem;
  width: 100%;
}

/* Projects */

.project-page {
  width: 100%;
}

.project-page__header {
  margin-bottom: 0;
}

.project-page__header--hero {
  display: flex;
  color: #fff;
  height: 100%;
  padding: 5rem;
  position: relative;
  width: 100%;
}

.project-page__header--hero::after {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
  bottom: 0;
  content: "";
  position: absolute;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 0;

}

.project-page__header--img {

  position: absolute;
  height: 100%;
  left: 0;
  object-fit: cover;
  top: 0;
  width: 100%;
  z-index: -1;
}

.project-page__header--content {
  align-self: flex-end;
  position: relative;
  width: 100%;
  z-index: 200;
}

.project-page__header--content h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.project-page__callout {
  align-items: center;
  background-color: #093542;
  color: #fff;
  display: flex;
  height: 15rem;
  padding: 5rem;
  width: 100%;
}

.project-page__callout-no-text {
  height: 8rem;
}

.project-page__callout h2 {

  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
}

.project-page__meta-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.project-page__meta-grid-col {
  padding: 5rem;
  width: 100%;
}

.project-page__meta-desc {
  margin-bottom: 1.5rem;
}

.project-page__meta-title {
  /* font-weight: 500; */
  display: block;
  font-weight: 300;
  color: #a8a8a8;
}

.project-page__meta-value {
  font-weight: 300;
}

.project-page__meta-grid-text {

}

.project-page__meta-text {
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.6;
}

.project-page__image-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: calc((40% * .6) - 5px); */
  width: 100%;
}

.project-page__image {
  height: 100%;
  width: 100%;
}

.project-page__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.project-page__callout--center {
  padding: 5rem;
  margin: 2rem 0;
  text-align: center;
}

.project-page__callout--center p {

  font-weight: 300;
  font-size: 1.5rem;
  width: 50rem;
  margin: 0 auto;
}

/* Portfolio Page */

.portfolio-page {
  margin-top: 5rem;
}

.portfolio-page__header {
  height: auto;
  margin-bottom: 0;
  width: 100%;
}

.portfolio-page__header--content {
  padding: 5rem;
  padding-bottom: 3rem;
  /* width: 90%; */
}

.portfolio-page__header--title {
  color: #aeaeae;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.portfolio-page__header--text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.portfolio-page__projects {
  padding: 0 5rem;
}

.portfolio-page__project-selection select {
  border-bottom: 1px solid #000;
  padding: 1rem;
  font-size: 1rem;
  /* font-weight: 300; */
  width: 15%;
}

.portfolio-page__project-selection select:active {
  border: none;
  outline: none;
}

.portfolio-page__projects-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-rows: calc((40% * .6) - 5px); */
  gap: 1rem;
  margin-top: 4rem;
  width: 100%;
}

/* Project Thumbnail */

.project-thumbnail {

  width: 100%;
}

.project-thumbnail__image {
  height: 10rem;
  width: 100%;
}

.project-thumbnail__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.project-thumbnail__title {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

.project-thumbnail__desc{
  font-size: 0.9rem;
  font-weight: 300;
}

.current-project-type {
  color: #aeaeae;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;

}

/* Our Team Page */

.our-team-page__grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  padding: 0 5rem;
  width: 100%;
}

.our-team-page__profile {
  text-align: center;
}

.our-team-page__img {
  height: 24rem;
  margin-bottom: 1rem;
}

.our-team-page__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


/* Contact us */

.contact__form input, textarea {
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact__form textarea {
  padding: 1rem; 
}

.contact__form input {
  padding: 1rem;
}

.contact-us-page__form {
  padding: 0 5rem;
  width: 100%;
}

/* Footer */

footer {
  margin: 5rem;
  /* width: 100%; */
}

.footer__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__logo {
  /* margin-right: auto; */
  max-width: 250px;
}

.footer__locations {
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  /* width: 80%; */
}

.footer__location {
  margin-right: 2rem;
  /* width: 80%; */
}

.footer__location span {
  display: block;
}

.footer-socials {
  display: flex;
  justify-content: space-around;
  /* max-width: 30%; */
}

.footer-socials li {
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Lunch and Learn */

.lunch-learn-container {
  margin-top: 7rem;
  padding: 0 5rem;
  text-align: center;
}

.lunch-learn-heading {
  margin-top: 5rem;
  color: #a8a8a8;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.lunch-learn-description {
  margin: 1rem auto;
  line-height: 1.5;
  /* width: 65rem; */
}


.lunch-learn-type {
  display: flex;
  margin-top: 7rem;
  /* padding: 0 5rem; */
  width: 100%;
}

.lunch-learn-col-image {
  height: 100%;
  width: 70%;
  /* width: 40%; */
}

.lunch-learn-col-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.lunch-learn-col-description {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 30%;
}

.lunch-learn-title {
  /* color: #a8a8a8; */
  font-size: 2rem;
  /* font-weight: 300; */
  /* letter-spacing: 0.1rem; */
  margin-bottom: 1rem;
}

.lunch-learn-objectives ul li {
  color: #a8a8a8;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.lunch-learn-reverse {
  flex-direction: row-reverse;
}


/* Careers */

.careers-open-positions-container {
  text-align: center;
  width: 100%;
}

.current-open-position-heading {
  margin-bottom: 0.5rem;
}

/* BIM */

.bim-page__inner {
  margin-top: 5rem;
  padding: 0 5rem;
  width: 100%;
}

.bim-page-heading {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.bim-page-heading p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.bim-page__video {
  width: 100%;
}

.bim-page__video-title {
  color: #a8a8a8;
  font-size: 2rem;
  font-weight: 300;
  margin: 3rem 0;
  text-align: center;
}

.bim-video {
  width: 100%;
}

.bim-page__what-is-bim {

  /* padding: 0 5rem; */
  margin-top: 10rem;
}

#bim-vid {
  margin: 0 auto;
  width: 100%;
  height: 40rem;
}

.bim-page__bim-container {
  /* background-color: #093542;
  color: #fff; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}


.bim-page__benefit-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.what-is-bim__heading {
  width: 70%;
}

.what-is-bim__heading h1, .what-is-bim__heading h2, .what-is-bim__heading h3 {
  color:#aeaeae;
}

.what-is-bim__heading h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.what-is-bim__content h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.what-is-bim__content h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.what-is-bim__content ul li {
  margin-bottom: 0.4rem;
}

.callout-text {
  background-color: #093542;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-weight: 400;
  padding: 1rem;
  margin: 2rem auto;
  text-align: center;
}

/* .bim-video-wrapper {
  height: 100%;
}

.bim-page__video-container {
  height: 50rem;
} */

/* Media Queries */


@media (max-width: 1500px) {
  .lunch-learn-type {
    flex-direction: column;
  }

  .lunch-learn-col-image {
    width: 100%;
  }

  .lunch-learn-col-description {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  nav  {
    padding: 0.5rem 1rem;
  }

  .nav-item {
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }

  header {
    height: 70vh;
  }

  .hero-content {
    padding: 5rem 2rem;
  }

  .featured-project {
    /* padding: 2rem 1rem; */
    padding: 0;
  }

  .featured-project-img-container {
    height: auto;
  }

  .featured-project-info-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .featured-project-info {
    text-align: center;
  }

  .landing-section-callout {
    flex-direction: column;
  }

  /* .landing-section-meta,  */

  .landing-section-callout {
    height: auto;
  }
  
  .landing-section-callout-image {
    height: 100%;
    width: 100%;
  }

  .landing-section-meta {
    /* padding: 2rem; */
    text-align: center;
    width: 100%;
  }

  .landing-stand-out__content-item{
    flex-direction: column;
  }

  .landing-stand-out-container {
    /* padding: 1rem; */
    width: 100%;
  }

  .landing-stand-out__content {
    padding: 1rem;
  }

  .landing-section-meta-container {
    width: 100%;
    padding: 2.5rem;
  }

  .landing-stand-out__bg-img {
    background-attachment: initial;
  }

  .landing-stand-out__content-col {
    max-width: 100%;
  }

  .landing-stand-out__content-item-title h3 {
    margin-bottom: 1rem;
  }

  .landing-section-qualifications__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .lunch-learn-title {
    font-size: 2rem;
  }

  .lunch-learn-col-description {
    text-align: center;
  }

  .lunch-learn-description {
    margin: 2rem auto;
  }

  .lunch-learn-type {
    margin-top: 1rem;
  }

  .callout-quote-container {
    height: auto;
    margin: 6rem 0;
  }

  .footer {
    margin: 0;
    width: 100%;

  }



  .footer__container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .footer__logo {
    margin-right: 0;
  }

  .footer__locations {
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
  }

  .footer-socials {
    padding-bottom: 2rem;
  }

  .footer__location {
    margin-bottom: 1rem;
    margin-right: 0;
  }

  /* What We Do Page */
  .what-we-do__header {
    height: 70vh;
  }

  .project-page__header--hero {
    padding: 2rem;
  }

  .project-page__callout {
    height: auto;
    padding: 2rem;
  }

  .project-page__callout h2 {
    font-size: 1.2rem;
  }

  .project-page__header--content h1 {
    font-size: 1.4rem;
  }

  .project-page__meta-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-page__meta-grid-col {
    padding: 1.5rem;
  }
  
  .what-we-do__services {
    padding: 1rem;
  }

  .services__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /*  Portfolio */

  .portfolio-page__project-selection select {
    width: 50%;
  }

  .portfolio-page__projects-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
  }

  .project-page__callout--center {
    padding: 2rem;
  }

  .project-page__callout--center p {
    font-size: 1.2rem;
    width: 100%;
  }


  /* Our Team Page */

  .our-team-page__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }

  /* Bio Page */

  .bio-page__projects-container {
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  .bio-page__projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .bio-page__callout {
    padding: 3rem 2rem;
    font-size: 1.2rem;
  }

  /* Contact Page */

  .contact-us-page__form {
    padding: 1rem;
  }

  /* BIM */

  .bim-page__inner {
    padding: 1rem;
  }

  .bim-page__benefit-lists {
    grid-template-columns: repeat(1, 1fr);
  }

  .bim-page__benefit-list {
    margin-bottom: 1rem;
  }

  .bim-page__what-is-bim {
    margin-top: 3rem;
  }

  
}

@media (max-width: 1150px) {
  .nav-item {
    display: none;
  }

  .hero-content-heading {
    font-size: 2.3rem;
  }

  .what-we-do__header {
    background-attachment: initial;
  }

  .responsive-nav-btn {
    display: block;
    position: absolute;
    top: 30px;
    right: 25px;
  }

  .bim-page-heading {
    width: 100%;
  }

  .bim-page__bim-container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .what-is-bim__heading {
    width: 100%;
    margin-bottom: 2rem;
  }

  .portfolio-page__header--content {
    padding: 5rem 2rem;
  }

  .portfolio-page__header--text {
    font-size: 0.9rem; 
  }

  .portfolio-page__header--title {
    font-size: 2rem;
  }

  .portfolio-page__projects {
    padding: 0 2rem;
  }

  .current-project-type {
    font-size: 2rem;
  }

  .project-page__image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 800px) {


  .portfolio-page__projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
